@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
	--main-accent: rgb(20, 233, 159);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#logo {
	width: 400px;
	cursor: pointer;
}

h1 {
	font-family: 'Urbanist', sans-serif;
	color: white;
	font-size: 70px;
}

h2 {
	margin: 0;
}

.button {
	padding: 0 30px;
	min-width: 200px;
	border-radius: 50px;
	border: none;
	font-family: 'Urbanist', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: black;
	background-color: var(--main-accent);
	transition: all 0.2s;
	cursor: pointer;
	height: 44px;
}

.button > i {
	margin-left: 10px;
}

.button:hover {
	background-color: rgb(101, 254, 200);
}

.button:active {
	transform: translateY(2px);
}

.select-wrap {
	position: relative;
}
.select-wrap::after {
	content: '\f107';
	font-family: FontAwesome;
	font-size: 24px;
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
	pointer-events: none;
}

select {
	cursor: pointer;
	padding-left: 30px;
	padding-right: 45px;

	/*for WebKit*/
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none !important;
	/* background-image: url('https://i.ibb.co/zHLz9kX/Rectangle-1.png');
	background-position: right center;
	background-repeat: no-repeat; */
}

select:focus-visible,
input:focus-visible {
	outline: none;
	/* border: none; */
	border-radius: 50px;
	box-shadow: 0 0 0 2px var(--main-accent);
}

#root {
	min-height: 1000px;
	color: #2b2b2b;
	display: none;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-width: 1486px;
	margin: 0px auto;
}

.container {
	max-width: 1486px;
	margin: 0px auto;
	padding: 0 20px;
}

.header {
	color: white;
	background-color: black;
}

.top-line {
	background-color: #03060f;
}

.top-line .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 90px;
}

@media (max-width: 1200px) {
	.top-line .container {
		flex-direction: column;
		padding: 20px 0;
	}
}

nav {
	display: flex;
}

@media (max-width: 1200px) {
	nav {
		flex-direction: column;
	}
}

.showSearch {
	background-color: #02040c;
	color: white;
	border-color: #5f76bd;
	font-size: 16px;
	border: 2px solid #c2c2c2;
	border-radius: 50px;
	padding: 0 20px;

	width: 280px;
}

.showSearch::placeholder {
	color: rgb(219, 219, 219);
}

@media (max-width: 1200px) {
	.showSearch {
		display: none;
	}
}

#burgerMenuIcon {
	display: none;
}

@media (max-width: 1200px) {
	#burgerMenuIcon {
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 30px;
		cursor: pointer;
		z-index: 15;
	}
}

.dark-color {
	color: #03060f;
}

@media (max-width: 1200px) {
	.side-menu {
		color: rgb(4, 24, 39);
		padding: 100px 30px;
		z-index: 10;
		position: fixed;
		height: 100%;
		width: 290px;
		background-color: #fff;
		top: 0;
		right: 0px;
		transition: all 0.2s ease 0s;
		transform: translate(100%, 0px);
	}

	.side-menu-opened {
		right: 0px;
		transition: left 0.2s;
		transform: translate(0px, 0px);
		transition: all 0.2s ease 0s;
	}
}

/* ------------------------------------ Slider ----------------------------------- */

.slider-wrap {
	height: 1000px;
	width: 100%;
	background-color: #edf2f7;
	position: relative;
}

.slider {
	overflow-x: scroll;
	display: flex;
	height: 100%;
}

.slider .container {
	height: 100%;
	display: flex;

	align-items: center;
}

.slider-item {
	min-width: 100%;
	min-height: 200px;
	display: none;
}

.slider h1 {
	padding-left: 6px;
}

.about-show-on-slide {
	color: white;
	margin-bottom: 40px;
	padding-left: 6px;
}

.current-slide {
	display: block;
	color: #03060f;
}

.prev-btn {
	width: 20px;
	height: 20px;
	background-color: blue;
	position: absolute;
	top: 50%;
	left: 0;
}

.next-btn {
	width: 20px;
	height: 20px;
	background-color: blue;
	position: absolute;
	top: 50%;
	right: 0;
}

.slide-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80%;
}

.slide-content {
	min-width: 50%;
}

.tiles {
	display: flex;
	flex-wrap: wrap;
	align-self: flex-end;
	justify-content: end;
}

.slide-toggle {
	width: 150px;
	height: 100px;
	margin: 10px;
	cursor: pointer;
	transition: 0.3s all;
}

.slide-toggle:hover {
	transform: translateY(-5px);
}
/* ------------------------------------ Slider ----------------------------------- */

.main-menu {
	display: flex;
	list-style-type: none;
}

@media (max-width: 1200px) {
	.main-menu {
		flex-direction: column;
		padding: 0;
		text-align: center;
	}
}

.menu-item {
	margin: 0 40px;
}

.menu-item:hover {
	color: rgb(20, 233, 159);
}

.menu-item-search {
	display: none;
}

@media (max-width: 1200px) {
	.menu-item {
		margin: 0;
		width: 100%;
		margin: 30px 0;
		font-size: 20px;
		font-weight: bold;
	}
}

@media (max-width: 1200px) {
	.menu-item-search {
		display: block;
		color: #329e78
	}
}

.menu-link {
	text-decoration: none;
	color: inherit;
}
.show-info-wrap {
	padding: 100px 0;
}
.show-info {
	display: flex;
}

.show-info-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	max-width: 780px;
}

.more-button {
	display: none;
	margin-bottom: 30px;
}

#showName {
	font-size: 40px;
	font-family: 'Urbanist', sans-serif;
}

.genre-tag {
	color: var(--main-accent);
	margin-right: 10px;
	cursor: pointer;
}

.genre-tag-searching-result {
	color: var(--main-accent);
	margin-right: 10px;
}

.show-poster-box {
	flex-shrink: 0;
	width: 300px;
	height: 441px;
	overflow: hidden;
	margin-right: 5%;
}
#showPoster {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.show-name-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.status-rating-runtime span {
	margin-right: 50px;
	color: #939aaa;
}
#showSummary {
	max-width: 900px;
	line-height: 25px;
	font-size: 17px;
}

.show-selector-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

@media (max-width: 700px) {
	.show-selector-wrapper {
		flex-direction: column;
	}
}

#showSelector {
	height: 44px;
	/* padding: 0 10px; */
	background-color: #121930;
	border: 2px solid white;
	border-radius: 50px;
	color: white;
}

@media (max-width: 500px) {
	.show-selector-wrapper .select-wrap {
		width: 80%;
	}
	#showSelector {
		width: 100%;
	}
}

.show-selector-desc {
	margin: 20px;
}

.similar-shows {
	padding: 100px 0;
	color: white;
	background-color: #121930;
}

.similar-shows-top-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 970px) {
	.similar-shows-top-line {
		flex-direction: column-reverse;
	}
}

.similar-shows h2 {
	font-family: 'Urbanist', sans-serif;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 0;
}

@media (max-width: 700px) {
	.similar-shows-top-line h2 {
		margin-bottom: 50px;
	}
}

.similar-shows-wrapper {
	display: flex;
	/* margin: 0 -27.166px; */
	margin-top: 20px;
	justify-content: space-between;
}

.similar-shows-item {
	display: flex;
	flex-direction: column;
	/* margin: 0 27.166px; */
	cursor: pointer;
}

@media (max-width: 1560px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(1) {
		display: none;
	}
}

@media (max-width: 1310px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(2) {
		display: none;
	}
}

@media (max-width: 1110px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(3) {
		display: none;
	}
}

@media (max-width: 890px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(4) {
		display: none;
	}
}

@media (max-width: 650px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(5) {
		display: none;
	}
	.similar-shows-wrapper {
		justify-content: space-around;
	}
}

@media (max-width: 415px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(6) {
		display: none;
	}
	.similar-shows-wrapper {
		justify-content: center;
	}
}

.similar-shows-item h3 {
	margin: 0;
}

.similar-show-img {
	width: 160px;
}

.similar-show-genres {
	font-size: 13px;
	color: rgb(183, 196, 215);
	margin: 8px 0;
	max-width: 160px;
}

.similar-show-name {
	font-weight: bold;
	font-size: 15px;
	max-width: 160px;
}

#filter {
	display: none;
	padding: 100px 0;
}

#content {
	padding: 100px 0;
	background-color: #141925;
}

.content-wrapper {
	display: flex;
	justify-content: flex-startf;
}

.main-filter h2 {
	font-family: Urbanist;
	color: white;
	margin-bottom: 20px;
}

.radio-box {
	display: flex;
	flex-wrap: wrap;
	color: rgb(211, 211, 211);
}

.radio-item {
	margin: 10px 0;
	margin-left: 5px;
	margin-right: 35px;
}

.custom-radio-btn {
	position: relative; /* Родительский элемент*/
	display: inline-block; /* Для применения рамок, размеров*/
	width: 18px;
	height: 18px;
	background: #fff;
	border: 2px solid #0849ee; /* Толщина, стиль, цвет рамки*/
	border-radius: 50%; /* Получение круга*/
	vertical-align: text-top; /* Выравнивание кнопки по центру*/
	margin-right: 5px; /* Отступ между кнопкой и меткой*/
}

.custom-radio-btn::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #1a3fae;
	border-radius: 50%;

	/* Выравниваем по центру относительно внешнего круга */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);

	/* Плавный переход трансформации масштабирования */
	transition: 0.2s ease-in;
}

.real-radio-btn {
	/* Скрываем реальную радио кнопку*/
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.real-radio-btn:checked + .custom-radio-btn::before {
	transform: translate(-50%, -50%) scale(1);
}

.main-filter {
	width: 350px;
	min-width: 280px;
	height: 1150px;
	padding: 30px;
	padding-top: 20px;
	margin-right: 35px;
	position: sticky;
	top: 50px;
	left: 0;
	background-color: #1d2233;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-filter button {
	width: 100%;
}

.filter-search-box {
	margin: 30px 0;
	width: 100%;
	/* padding: 0 30px; */
}
.input-wrap {
	position: relative;
}

.input-wrap span {
	background-image: url('https://i.ibb.co/0nnmzQv/clear-vector-3-2.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 15px;
	display: none;
	cursor: pointer;
}

.search-input {
	font-size: 16px;
	border: 2px solid #121930;
	/* border-radius: 50px; */
	padding-left: 20px;
	padding-right: 50px;
	width: 100%;
	height: 44px;
}

.search-input:focus-visible {
	border-radius: 0;
}

.filter-desc {
	width: 100%;
	color: white;
}

.filter-desc span {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.alphabet-box {
	/* padding: 0 10px; */
	margin: 0 -5px;
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.alphabet-item {
	width: 60px;
	height: 60px;
	margin: 5px;
	background-color: #0c142b;
	/* color: #449ee0; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.alphabet-letter {
	font-size: 20px;
	color: #5cb9ff;
}

.alphabet-number {
	font-size: 14px;
	color: #20547a;
}

.genres-box {
	width: 100%;
	margin-bottom: 50px;
}

.genres-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.genre-filter {
	color: #5cb9fe;
	margin: 5px 0;
	margin-right: 10px;
	cursor: pointer;
}

.sorry {
	padding: 100px;
	font-size: 28px;
	color: white;
	font-weight: bold;
}

.show-search-result {
	text-align: right;
	display: none;
	font-size: 18px;
	color: white;
	margin: 40px 0;
}

.content-inner {
	max-width: 1060px;
	margin-top: -30px;
	display: flex;
	flex-direction: column;
}

.content-item {
	display: flex;
	margin: 30px 0;
	border-bottom: 1px solid rgb(36, 49, 55);
}

.content-item .show-poster-box {
	width: 220px;
	height: 300px;
	margin-right: 60px;
	cursor: pointer;
}

.show-poster {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.content-item .show-name {
	margin: 20px 0;
	color: white;
	cursor: pointer;
}

.show-summary {
	color: white;
	line-height: 25px;
	margin: 16px 0;
	word-break: break-word
}

.episode-selector {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1250px) {
	.episode-selector {
		flex-direction: column;
	}
}

.search-box {
	margin-right: 30px;
}

@media (max-width: 1250px) {
	.search-box {
		margin: 0;
	}
}

#episodeSelector,
#searchBoxInput {
	font-size: 16px;
	border: 2px solid #121930;
	border-radius: 50px;
	/* padding: 2px; */
	width: 280px;
}

#episodeSelector {
	height: 44px;
	/* padding: 0 10px; */
}

#searchBoxInput {
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
}

@media (max-width: 1250px) {
	#searchBoxInput {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.episode-selector .select-wrap {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.search-result {
	font-size: 24px;
	margin: 0 20px;
}

@media (max-width: 1250px) {
	#searchResult {
		margin-bottom: 50px;
		text-align: center;
	}
	#clearButton {
		margin-top: 50px;
	}
}

.card-wrapper {
	width: 350px;
	height: 550px;
	margin: 0 10px 30px 10px;
	box-shadow: 0px 0px 38px -20px rgba(34, 60, 80, 0.56);
	transition: transform 0.3s;
	cursor: pointer;
}

.card-wrapper:hover {
	transform: scale(1.03);
}

.episode-wrapper {
	min-height: 80px;
	padding: 0 20px;
	border-bottom: 2px solid #e8e8e8;

	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
}

.episode-name {
	font-family: 'Urbanist', sans-serif;
}

.episode-image-wrapper {
	width: 350px;
	height: 196px;
	overflow: hidden;
}

.episode-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.episode-description {
	padding: 30px;
	line-height: 22px;
}

.episode-description p {
	margin: 0;
}

.episode-description a {
	color: inherit;
}

.empty-message {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	color: white;
}

/* Breadcrumbs */

#breadCrumbs {
	margin-bottom: 50px;
	color: rgb(175, 175, 175);
}
