@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
	--main-accent: rgb(20, 233, 159);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#logo {
	font-family: 'Urbanist', sans-serif;
	font-weight: bold;
	font-size: 34px;
	margin-top: 20px;
}

h1 {
	font-family: 'Urbanist', sans-serif;
}

h2 {
	margin: 0;
}

.button {
	padding: 0 30px;
	min-width: 170px;
	border-radius: 50px;
	border: none;
	font-family: 'Urbanist', sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: black;
	background-color: var(--main-accent);
	transition: all 0.2s;
	cursor: pointer;
	height: 44px;
}

.button > i {
	margin-left: 10px;
}

.button:hover {
	background-color: rgb(101, 254, 200);
}

.button:active {
	transform: translateY(2px);
}

select {
	cursor: pointer;
}

select:focus-visible,
input:focus-visible {
	outline: none;
	/* border: none; */
	border-radius: 50px;
	box-shadow: 0 0 0 2px var(--main-accent);
}

#root {
	min-height: 1000px;
	color: #2b2b2b;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-width: 1486px;
	margin: 0px auto;
}

.container {
	max-width: 1486px;
	margin: 0px auto;
	padding: 0 20px;
}

.header {
	color: white;
	background-color: black;
}

.top-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main-menu {
	display: flex;
	list-style-type: none;
}

.menu-item {
	margin: 0 40px;
}

.menu-link {
	text-decoration: none;
	color: inherit;
}

.show-info {
	display: flex;
	padding: 100px 0;
}

.show-info-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	max-width: 780px;
}

.more-button {
	display: none;
	margin-bottom: 30px;
}

#showName {
	font-size: 40px;
	font-family: 'Urbanist', sans-serif;
}

.genre-tag {
	color: var(--main-accent);
	text-decoration: none;
	margin-right: 10px;
}
.show-poster-box {
	width: 300px;
	height: 441px;
	overflow: hidden;
	margin-right: 80px;
}
#showPoster {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

#showSummary {
	max-width: 900px;
	line-height: 25px;
	font-size: 17px;
}

.show-selector-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

#showSelector {
	height: 44px;
	padding: 0 10px;
	background: none;
	border: 2px solid white;
	border-radius: 50px;
	color: white;
}

.show-selector-desc {
	margin: 0 20px;
}

.similar-shows {
	padding: 100px 0;
	color: white;
	background-color: #121930;
}

.similar-shows-top-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.similar-shows h2 {
	font-family: 'Urbanist', sans-serif;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 0;
}

.similar-shows-wrapper {
	display: flex;
	margin: 0 -27.166px;
	margin-top: 20px;
	justify-content: space-between;
}

.similar-shows-item {
	display: flex;
	flex-direction: column;
	margin: 0 27.166px;
	cursor: pointer;
}

@media (max-width: 1560px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(1) {
		display: none;
	}
}

@media (max-width: 1310px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(2) {
		display: none;
	}
}

@media (max-width: 1110px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(3) {
		display: none;
	}
}

@media (max-width: 890px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(4) {
		display: none;
	}
}

@media (max-width: 650px) {
	.similar-shows-wrapper .similar-shows-item:nth-child(5) {
		display: none;
	}
	.similar-shows-wrapper {
		justify-content: center;
	}
}

.similar-shows-item h3 {
	margin: 0;
}

.similar-show-img {
	width: 160px;
}

.similar-show-genres {
	font-size: 13px;
	color: rgb(183, 196, 215);
	margin: 8px 0;
}

.similar-show-name {
	font-weight: bold;
	font-size: 15px;
}

#filter {
	padding: 100px 0;
}

#content {
	padding: 100px 0;
	background-color: #141925;
}

.content-wrapper {
	display: flex;
	justify-content: space-between;
}

.main-filter {
	width: 350px;
	height: 1000px;
	padding: 30px;
	padding-top: 20px;
	position: sticky;
	top: 50px;
	left: 0;
	background-color: #1d2233;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter-search-box {
	margin: 30px 0;
	width: 100%;
	/* padding: 0 30px; */
}

.search-input {
	font-size: 16px;
	border: 2px solid #121930;
	border-radius: 50px;
	padding-left: 30px;
	width: 100%;
	height: 44px;
}

.filter-desc {
	display: none;
	width: 100%;
	padding-bottom: 20px;
	color: white;
	font-size: 20px;
	font-family: 'Urbanist', sans-serif;
	font-weight: 300;
}

.filter-desc span {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.alphabet-box {
	/* padding: 0 10px; */
	margin: 0 -5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.alphabet-item {
	width: 60px;
	height: 60px;
	margin: 5px;
	background-color: #0c142b;
	color: #449ee0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.content-inner {
	max-width: 1060px;
	margin-top: -30px;
	display: flex;
	flex-direction: column;
}

.content-item {
	display: flex;
	margin: 30px 0;
	border-bottom: 1px solid rgb(36, 49, 55);
}

.content-item .show-poster-box {
	width: 220px;
	height: 300px;
	margin-right: 60px;
}

.show-poster {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.content-item .show-name {
	margin: 20px 0;
	color: white;
}

.show-summary {
	color: white;
	line-height: 25px;
	margin: 16px 0;
}

.episode-selector {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-box {
	margin-right: 20px;
}

#episodeSelector,
#searchBoxInput {
	font-size: 16px;
	border: 2px solid #121930;
	border-radius: 50px;
	padding: 2px;
	width: 280px;
}

#episodeSelector {
	height: 44px;
	padding: 0 10px;
}

#searchBoxInput {
	height: 40px;
	padding-left: 20px;
	margin-right: 10px;
}

.search-result {
	/* font-family: 'Urbanist', sans-serif; */
	font-size: 24px;
	margin: 0 20px;
}

.card-wrapper {
	width: 350px;
	height: 550px;
	margin: 0 10px 30px 10px;
	box-shadow: 0px 0px 38px -20px rgba(34, 60, 80, 0.56);
	transition: transform 0.3s;
	cursor: pointer;
}

.card-wrapper:hover {
	transform: scale(1.03);
}

.episode-wrapper {
	min-height: 80px;
	padding: 0 20px;
	border-bottom: 2px solid #e8e8e8;

	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
}

.episode-name {
	font-family: 'Urbanist', sans-serif;
}

.episode-image-wrapper {
	width: 350px;
	height: 196px;
	overflow: hidden;
}

.episode-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.episode-description {
	padding: 30px;
	line-height: 22px;
}

.episode-description p {
	margin: 0;
}

.episode-description a {
	color: inherit;
}

.empty-message {
	margin-top: 50px;
	font-size: 24px;
	text-align: center;
	color: white;
}
